.acf-form input[type="text"],
.acf-form input[type="password"],
.acf-form input[type="number"],
.acf-form input[type="search"],
.acf-form input[type="email"],
.acf-form input[type="url"] {
	height: 16px * 2.5;
	padding: 8px 15px;
}

.acf-form-submit.acf-form-submit {
	
	width: 400px;
	position: relative;
	margin: 16px 0;

	input[type="submit"] {
		@extend %cool-button;
		padding: 8px 12px;
		font-size: 1.1rem;
		color: white;
		display: block;
		background-color: $cool-green;
		width: 200px;
	}

	span.acf-spinner {
		position: absolute; 
		top: 12px;
		left: 25px;
		width: 175px;
	    background: $cool-green url(../images/spinner.gif) no-repeat 50% 50%;
	    z-index: 100;
	}
}

.acf-fields > .acf-field {
	padding: 0;
	margin-bottom: 16px * 2;
	border-top: none;
}

.acf-field.acf-field {
	border-bottom: 1px solid lighten($gray, 10%);
	border-top-width: 0;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.updated {
	padding: 10px 20px;
	background: lighten($cool-green, 30%);
	border: 1px solid $cool-green;
	width: 30%;

	margin-bottom: 32px;

	p {
		margin: 0;
	}
}

.acf-field[data-width] + .acf-field[data-width] {
	border-left-width: 0;
	margin-left: 2%;
}