.application-for-print {
	display: none;

	
}

.application-form {
	overflow: hidden;
}

.translate-down.translate-down.translate-down {
	margin-top: 0;
}

.application-exists.application-exists {
	background-color: saturate($cool-yellow, 20%);
	padding: 20px 40px;
	color: $amp-blue;
	display: none;
	@extend %smooth-animation;

	p {
		font-size: 1.3em;
		margin: 0;

		a {
			color: lighten($amp-blue, 25%);
		}
	}
}

.application-sent.application-sent {
	background-color: darken($cool-green, 7%);
	padding: 20px 40px;
	color: white;
	display: none;
	@extend %smooth-animation;
	

	p {
		font-size: 1.1em;
		margin: 0;
	}
}

.application-sent-error.application-sent-error {
	background-color: lighten($logout-red, 10%);
	color: white;
	padding: 20px 40px;
	display: none;
	@extend %smooth-animation;

	p {
		margin: 0;
	}

	a {
		color: white;
		text-decoration: underline;
	}
}

.application-page {
	@extend .report;
	position: relative;

	
	h1, h2, h3, h4 {
		font-family: $report-font-family;

		&.short-short {
			margin: 4px 0;
		}

		&.top-short {
			margin-top: 0;
		}
	}

	.exam-answers {

		ol {
			column-count: 3;
	    	column-gap: 155px;
			margin: 0;
			padding-left: 0;
			list-style-position: inside;

			li {
				font-weight: bold;
				
				&.wrong {
					font-style: italic;
				}
			}
		}
	}
	
	ul, ol {
		margin: 4px 0;
		padding-left: 16px;
		
		li {
			font-family: $report-font-family;
			color: black;
		}
	}

	.application-signatures {
		position: absolute;
		bottom: 0; left: 0;
		@extend %flexbox-box;
		justify-content: space-between;
		
		width: 100%;

		.applicant-signature, .general-director {
			width: 40%;

			text-align: center;
			margin-bottom: 16px;
		}

		.signature-line {
			border-bottom: 2px solid black;
			margin-top: 32px;
		}
	}

	table.days {
		width: 100%;
		th {
			text-transform: uppercase;
			text-decoration: underline;
			background: lighten($dark-gray, 45%);
			border: 3px double lighten($dark-gray, 25%);
		}
		td {
			vertical-align: middle;
			border: 3px double lighten($dark-gray, 25%);
			line-height: 1;
			width: (100% / 6);
			height: 34px;

			&:last-child, &:nth-last-child(2) {
				background: lighten($dark-gray, 37%);
			}
		}
	}

	table.evaluation-score {
		@extend table.days;
		td {
			width: 18%;
			height: 70px;

			&:last-child {
				width: ( 100% - (18% * 3) );
			}

			&:last-child, &:nth-last-child(2) {
				background: transparent;
			}
			
		}
	}

	table.evaluation {
		width: 100%;

		th {
			background: lighten($dark-gray, 45%);
			border: 3px double lighten($dark-gray, 25%);
			width: 10%;
			padding: 8px 0;
			vertical-align: middle;
			text-align: center;
		}

		th.info {
			width: 50%;
		}

		td {
			vertical-align: middle;
			border: 3px double lighten($dark-gray, 25%);
			line-height: 1;
			height: 40px;
		}
	}

	table.practical-eval {
		@extend table.evaluation;
		
		th.description {
			width: 30%;
		}

		th {
			width: 10%;
		}
	}
}


.pmts-header {

	@extend %flexbox-box;
	justify-content: space-between;

	.logo {
		width: 120px;
		margin: 12px 0;
	}

}

.name-of-course {
	text-align: center;
	padding-top: 12px;
}

.codes {
	padding-top: 12px;
}

p.short-short {
	margin: 4px 0;
	line-height: 1;
}

p.super-short.super-short {
	margin: 2px 0;
}


table.student-info {
	width: 668px;
	border: 4px groove darken($dark-gray, 5%);
	margin-bottom: 16px;

	td {
		border: 1px solid $dark-gray;
		border-right: 2px medium solid $dark-gray;
		border-bottom: 2px solid $dark-gray;
		width: 135px;
		vertical-align: top;

		&:nth-child(odd) {
			width: (668px/2) - 135px;
		}

		p {
			line-height: 0.75;
			margin: 4px 0;
			font-weight: bold;
			font-style: italic;
		}
	}
}

.days-title {
	margin-top: 16px;
	text-transform: uppercase;
	text-align: center;

	h3 {
		line-height: 1;
		margin: 8px 0;
	}

	h4 {
		line-height: 1;
		margin: 8px 0;
	}
}