ul.authentic-certificate {
	margin: 30px 0 0;
	padding: 0;
	list-style: none;
	font-size: 1.2rem;
	border-top: 1px solid lighten($dark-gray, 20%);

	li {
		padding: 12px;
		border: {
			bottom: 1px solid lighten($dark-gray, 20%);
			right: 1px solid lighten($dark-gray, 20%);
			left: 1px solid lighten($dark-gray, 20%);
		}
		font-weight: bold;

		small {
			display: block;
			font-weight: normal;
		}

		i.fa.fa-check {
			font-size: 1.4rem;
			color: $cool-green;
		}
	}
} 