%centered {
	text-align: center;
}

%britanic {
	font-family: $certificate-name;
	text-transform: uppercase;
	font-style: normal;
}

.certify.certify {
	@extend %centered;
	margin-top: 8rem;
	font-family: 'diploma';
	font-size: 38px;
}

.participant-name.participant-name {
	@extend %centered;
	font-family: $participant-name-font;
	font-size: 5rem;
	font-weight: bold;
	line-height: 1;
	margin: 32px 0;
	letter-spacing: -1px;
	text-transform: capitalize;
}

.attended {
	@extend %centered;
}

.course.course {
	@extend %britanic;
	@extend %centered;
}

.certificate {
	position: relative;
	font-size: 1.2rem;
	padding: 0 36px;

	@media screen and (min-width: 1200px) {
		margin: 0 48px;
	}

	p, ul, ol {
		font-family: $certificate-italic-font;
		margin: 40px 0 32px;
	}

	.short.short {
		margin-top: 0;
	}

	.boldies {
		font-family: $certificate-italic-bold;
	}

	.paddies {
		margin-right: 12px;
	}

	.unpaddies {
		font-family: $certificate-italic-bold;
	}

	.undies {
		@extend .boldies;
		border-bottom: 1px solid $darken-gray;
		display: inline-block;
		text-align: center;
		margin-left: 14px;
		padding: 0 20px 2px;

		&.bottom {
			width: 175px;
		}

		&.start-date {
			margin-left: 45px;
		}
	}

	.overies {
		@extend .boldies;
		border-top: 1px solid $darken-gray;
	}

	.half {
		width: 50%;
		float: left;
	}

	.quarter {
		width: 25%;
	}

	.full {
		clear: both;
		width: 100%;
	}

	.to-right {
		float: right;
	}

	.signature {
		@extend .to-right;
		@extend .quarter;
		@extend .overies;
		@extend .align-center;

		margin-bottom: 40px;
	}

}

.certificate-codes.certificate-codes {
	@extend .full;

	.boldies.boldies {
		font-family: 'britannic-bold';
	}

	p { margin: 0; }
}

.edit-certificate-form {
	display: none;
}