$header-font-family: Geneva, Verdana, sans-serif;
$body-font-family: Verdana, sans-serif;
$certificate-font: "texgyreadventorregular";
$certificate-italic-bold: "texgyreadventorbold_italic";
$certificate-italic-font: "texgyreadventoritalic";
$certificate-name: 'Britannic-Bol';
$the-test-font: 'archivo_narrowregular';
$the-test-font-bold: 'archivo_narrowbold';