@font-face {
    font-family: 'texgyreadventorbold';
    src: url('../fonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot');
    src: url('../fonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventorbold_italic';
    src: url('../fonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot');
    src: url('../fonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventoritalic';
    src: url('../fonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot');
    src: url('../fonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.svg#texgyreadventoritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'britannic-bold';
    src: url('../fonts/britannic/2F7DB2_0_0.eot');
    src: url('../fonts/britannic/2F7DB2_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/britannic/2F7DB2_0_0.woff2') format('woff2'),
        url('../fonts/britannic/2F7DB2_0_0.woff') format('woff'),
        url('../fonts/britannic/2F7DB2_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'diploma';
    src: url('../fonts/diploma.ttf') format('truetype');
}

@font-face {
    font-family: 'coronet';
    src: url('../fonts/coronet.ttf') format('truetype');
}

/* Archivo Narrow */

@font-face {
    font-family: 'archivo_narrowbold';
    src: url('../fonts/archivo-narrow/archivo_narrow_700-webfont.eot');
    src: url('../fonts/archivo-narrow/archivo_narrow_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivo-narrow/archivo_narrow_700-webfont.woff2') format('woff2'),
         url('../fonts/archivo-narrow/archivo_narrow_700-webfont.woff') format('woff'),
         url('../fonts/archivo-narrow/archivo_narrow_700-webfont.ttf') format('truetype'),
         url('../fonts/archivo-narrow/archivo_narrow_700-webfont.svg#archivo_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowbold_italic';
    src: url('../fonts/archivo-narrow/archivo_narrow_700italic-webfont.eot');
    src: url('../fonts/archivo-narrow/archivo_narrow_700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivo-narrow/archivo_narrow_700italic-webfont.woff2') format('woff2'),
         url('../fonts/archivo-narrow/archivo_narrow_700italic-webfont.woff') format('woff'),
         url('../fonts/archivo-narrow/archivo_narrow_700italic-webfont.ttf') format('truetype'),
         url('../fonts/archivo-narrow/archivo_narrow_700italic-webfont.svg#archivo_narrowbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowitalic';
    src: url('../fonts/archivo-narrow/archivo_narrow_italic-webfont.eot');
    src: url('../fonts/archivo-narrow/archivo_narrow_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivo-narrow/archivo_narrow_italic-webfont.woff2') format('woff2'),
         url('../fonts/archivo-narrow/archivo_narrow_italic-webfont.woff') format('woff'),
         url('../fonts/archivo-narrow/archivo_narrow_italic-webfont.ttf') format('truetype'),
         url('../fonts/archivo-narrow/archivo_narrow_italic-webfont.svg#archivo_narrowitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'archivo_narrowregular';
    src: url('../fonts/archivo-narrow/archivo_narrow_regular-webfont.eot');
    src: url('../fonts/archivo-narrow/archivo_narrow_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivo-narrow/archivo_narrow_regular-webfont.woff2') format('woff2'),
         url('../fonts/archivo-narrow/archivo_narrow_regular-webfont.woff') format('woff'),
         url('../fonts/archivo-narrow/archivo_narrow_regular-webfont.ttf') format('truetype'),
         url('../fonts/archivo-narrow/archivo_narrow_regular-webfont.svg#archivo_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}