%clearfix {
	clear: both;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 14px;

	@media only screen and (max-width: 1700px) {
		font-size: 12px;
	}
}

body {
	font-family: $body-font-family;
	line-height: 1.6;
	position: relative;

	background: {
		color: lighten($pmts-blue, 10%);
		image: url(../images/certificate-background.jpg);
		size: cover;
		position: top right;
	}

	height: initial;

	@media screen {
		min-height: 100vh;
	}
}

.loader {
	position: absolute;
	z-index: 100;
	background: rgba(255, 255, 255, 0.7) url('../images/background-spinner.gif') center 50vh no-repeat;
	top: 0; left: 0; bottom: 0; right: 0;
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
}

header {
	width: $header-width;
	padding: $header-padding;
	background: white;
	color: $darken-gray;
	z-index: 10;
	box-shadow: 0 0 6px black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 100vh;
	background: white;
	float: left;

	.toggle-menu { display: none; }

}

.fa.fa {
	font-size: 0.9rem;
}

.logo {

	& > img { width: 100%; }

	max-width: 180px;
	margin: 0 auto 32px;
}

.login-form {
	width: 100%;
	margin: 0 auto;
}

form {
	margin-bottom: 21px;

	label {
		display: block;
		font-size: 1rem;
		padding-bottom: 8px;
	}

	input {
		border: none;
		background-color: $gray;
		width: 100%;
		height: 45px;
		margin: 0 auto 28px;
		padding: 12px;
	}


	.rememberme {
		position: relative;
		display: flex;
		justify-content: space-between;

		label {
			margin-top: 12px;
			display: block;
		}

		input[type="submit"] {
			width: 100px;
			height: 40px;
			margin: 0;
			background: $pmts-blue;
			color: white;

		}
	}

	input[type="checkbox"] {
		width: 13px;
		height: 13px;
		top: -1px;
		

		margin-right: 10px;
	}
}

.copyright {

	@extend .login-form;
	@extend %clearfix;

	font-size: 0.9rem;
	line-height: 1.6;
	margin-top: 40px;
}

.clearfix {
	width: 100%;
	clear: both;
}

.main {
	color: white;
	padding: 10px 30px 0;
	width: $main-width;
	display: flex;
	align-content: stretch;

	& > h1 {
		text-align: center;
		width: 100%;
		font-size: 2.6rem;
		letter-spacing: 2px;
		text-shadow: 0 0 12px darken($gray, 30%);
	}
}

.logged-in {
	
	header {
		float: none;
		height: 100%;
		width: 100%;
		padding: 0;
		@extend %smooth-animation;
		display: flex;
		justify-content: space-between;
		flex-direction: row;


		&.show-menu {
			left: 0;
		}

		h3 {
			padding-left: 22px;
			margin-bottom: 16px;
		}
		
		a.toggle-menu {
			
			display: none;
			padding: 16px 22px 16px 8px;
			color: $darken-gray;
			text-decoration: none;
			position: fixed;
			top: 32px;
			left: 0;
			text-align: right;
			background: white;
			box-shadow: 6px 0 6px -2px rgba(0, 0, 0, 0.2);
			@extend %smooth-animation;

			i.fa.fa { 
				font-size: 1.2em;
				position: relative;
				top: 1px;
				margin-left: 12px;
			}

			&:hover {
				background-color: lighten($gray, 15%);
			}

			&.hide-button {
				left: $loggedin-header-width;
			}
		}
	}

	.main {
		width: $loggedin-main-width;
	}
}

.navigation {
	width: 60%;
}

.buttons {
	margin: 16px 0 48px;
}

.short-margin.short-margin {
	margin: 8px 0;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

%cool-button {
	padding: 4px 22px;
	text-decoration: none;
	color: white;
	margin-left: 8px;
	display: inline-block;
}


a.logout-button {
	@extend %cool-button;
	background-color: lighten(desaturate($logout-red, 15%), 15%);
	padding: 12px 22px;

	&:hover {
		background-color: darken($logout-red, 5%);
	}
}

a.new-certificate-button {
	@extend %cool-button;
	background-color: $cool-green;

	&:hover {
		background-color: darken($cool-green, 5%);
	}
}

a.print-button {
	@extend %cool-button;
	background-color: $pmts-blue;

	&:hover {
		background-color: darken($pmts-blue, 5%);
	}
}

a.view-button {
	@extend a.print-button;
	display: none;
}

.download-xls-button {
	@extend %cool-button;
	background-color: $cool-orange;

	&:hover {
		background-color: darken($cool-orange, 5%);
	}
}

.clear-data-button {
	@extend .download-xls-button;
}

.edit-button {
	@extend .download-xls-button;
}

a.back-link {
	color: $cool-orange;
}

.main-content {
	width: 96%;
	min-height: 100vh;

	@media only screen and (max-width: 1700px) {
		width: 100%;
	}

	margin: 0 auto;
	background: {
		image: url('../images/pmts-watermark-logo.png');
		color: white;
		size: cover;
		repeat: no-repeat;
		position: left top;
	};
	padding: 20px;
	color: $darken-gray;
	margin-top: 40px;
	box-shadow: 0 8px 40px transparentize($darken-gray, 0.6);

	h1 {
		text-align: center;
		margin-bottom: 48px;
	}

}

.logout {
	margin: 0 40px 0 0;

	a { margin: 0; }
}

ul.nav {
	border-left: 1px solid $gray;
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;

	li {
		display: table-cell;
		
		a {
			display: block;
			color: $darken-gray;
			padding: 12px 22px;
			text-decoration: none;
			background: white;
			border-right: 1px solid $gray;
			text-align: center;


			&:hover {
				color: white;
				background: lighten($pmts-blue, 15%);
				border-right: 1px solid $pmts-blue;
			}

			i._mi {
				margin-right: 12px;
			}

		}
		
		&.nav-button a {

			text-align: right;

			i._mi {
				position: relative;
				top: 5px;
				margin-right: 0;
				margin-left: 18px;
			}

		}

		&.deactivated a {
			color: $gray;

			&:hover {
				color: $gray;
				background: white;
			}
		}

		&.current-menu-item a {
			color: white;
			background: $pmts-blue;
		}
	}
}

a.deactivated {
	color: $gray;
	background: lighten($gray, 10%);

	&:hover {
		background: lighten($gray, 10%);
	}
}

.acf-field .acf-label label {
	font-size: 1.2rem;
	line-height: 1.6;
}

form.acf-form { 
	
	input {
		background: white;
		padding: 18px 24px;
		border: 1px solid darken($gray, 5%);
	}

	.course-date {
		width: 50%;
		float: left;
	}

	.instructor-field {
		clear: both;
	}
}