%clearfix {
	clear: both;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 14px;

	@media only screen and (max-width: 1700px) {
		font-size: 12px;
	}
}

body {
	font-family: $body-font-family;
	line-height: 1.6;

	background: {
		color: lighten($pmts-blue, 10%);
		image: url(../images/certificate-background.jpg);
		size: cover;
		position: top right;
	}

	height: initial;

	@media screen {
		min-height: 100vh;
		display: flex;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
}

header {
	width: $header-width;
	padding: $header-padding;
	background: white;
	color: $darken-gray;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	box-shadow: 2px 0 12px transparentize($darken-gray, .4);
}

.fa.fa {
	font-size: 0.9rem;
}

.logo {

	& > img { width: 100%; }

	width: 60%;
	max-width: 180px;
	margin: 0 auto 45px;
}

.login-form {
	width: 100%;
	margin: 0 auto;
}

form {
	margin-bottom: 21px;

	label {
		display: block;
		font-size: 1rem;
		padding-bottom: 8px;
	}

	input {
		border: none;
		background-color: $gray;
		width: 100%;
		height: 45px;
		margin: 0 auto 28px;
		padding: 12px;
	}


	.rememberme {
		position: relative;
		display: flex;
		justify-content: space-between;

		label {
			margin-top: 12px;
			display: block;
		}

		input[type="submit"] {
			width: 100px;
			height: 40px;
			margin: 0;
			background: $pmts-blue;
			color: white;

		}
	}

	input[type="checkbox"] {
		width: 13px;
		height: 13px;
		top: -1px;
		

		margin-right: 10px;
	}
}

.copyright {

	@extend .login-form;
	@extend %clearfix;

	font-size: 0.9rem;
	line-height: 1.6;
	margin-top: 40px;
}

.main {
	color: white;
	padding: 10px 60px 0;
	width: $main-width;
	display: flex;
	align-content: stretch;

	& > h1 {
		text-align: center;
		width: 100%;
		font-size: 2.6rem;
		letter-spacing: 2px;
		text-shadow: 0 0 12px darken($gray, 30%);
	}
}

.logged-in {
	
	header {
		justify-content: flex-start;
		width: $loggedin-header-width;
		padding: 50px 0;

		h3 {
			padding-left: 22px;
			margin-bottom: 16px;
		}
	}

	.main {
		width: $loggedin-main-width;
	}
}

.navigation {
	margin-bottom: 16px * 3;
}

.buttons {
	margin: 16px 0 48px;
}

.align-right {
	text-align: right;
}

%cool-button {
	padding: 4px 22px;
	text-decoration: none;
	color: white;
	margin-left: 8px;
	display: inline-block;
}

a.logout-button {
	@extend %cool-button;
	background-color: $logout-red;

	&:hover {
		background-color: darken($logout-red, 5%);
	}
}

a.new-certificate-button {
	@extend %cool-button;
	background-color: $cool-green;

	&:hover {
		background-color: darken($cool-green, 5%);
	}
}

.download-xls-button {
	@extend %cool-button;
	background-color: $cool-orange;

	&:hover {
		background-color: darken($cool-orange, 5%);
	}
}

a.back-link {
	color: $cool-orange;
}

.main-content {
	width: 90%;

	@media only screen and (max-width: 1700px) {
		width: 100%;
	}

	margin: 0 auto;
	background: {
		image: url('../images/pmts-watermark-logo.png');
		color: white;
		size: cover;
		repeat: no-repeat;
		position: left top;
	};
	padding: 20px 50px;
	color: $darken-gray;
	margin-top: 80px;
	box-shadow: 0 8px 40px transparentize($darken-gray, 0.6);

	h1 {
		text-align: center;
		margin-bottom: 48px;
	}

	p {
		display: block;
		width: 74%;
		margin: 0 auto 42px;
	}
}

.logout {
	text-align: center;
	margin: 0;

	a { margin: 0; }
}

ul.nav {
	list-style: none;
	width: 100%;
	padding: 0;
	border-top: 1px solid $gray;

	li {
		
		a {
			display: block;
			color: $darken-gray;
			padding: 12px 24px 12px 22px;
			text-decoration: none;
			background: white;

			border-bottom: 1px solid $gray;

			&:hover {
				color: white;
				background: $pmts-blue;
			}

			i._mi {
				display: inline-block;
				margin-right: 12px;
			}
		}

		&.deactivated a {
			color: $gray;

			&:hover {
				color: $gray;
				background: white;
			}
		}

		&.current-menu-item a {
			color: white;
			background: $pmts-blue;
		}
	}
}

a.deactivated {
	color: $gray;
	background: lighten($gray, 10%);

	&:hover {
		background: white;
	}
}

.acf-field .acf-label label {
	font-size: 1.2rem;
	line-height: 1.6;
}

form.acf-form { 
	
	input {
		background: white;
		padding: 18px 24px;
		border: 1px solid darken($gray, 5%);
	}

	.course-date {
		width: 50%;
		float: left;
	}

	.instructor-field {
		clear: both;
	}
}