$darken-gray: darken($gray, 40%);
$header-width : 25%;
$main-width: (100% - $header-width);
$loggedin-header-width: 280px;
$loggedin-main-width: 100%;
$header-padding: 40px;

%smooth-animation {
	transition: all 0.25s ease-in-out;
}

%flexbox-box {
  display: flex;
  flex-flow: row wrap;
}