.initial-report {
	h1, h2, h3, h4 {
		margin: 0;
	}
}

.report-company-logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;

	.logo {
		width: 110px;
		height: 110px;
		margin: 0;
	}
}

.report-company-info {
	h2 {
		font-size: 1.2rem;
		line-height: 1.1;
	}
	p {
		font-size: 0.8rem;
		line-height: 1;
		margin: 2px;
	}
}

table.report-table {
	width: 100%;
	max-width: 1200px;
	font-size: 0.9rem;
	margin: 0 auto;

	thead {
		display: table-header-group;
	}

	thead tr {
		background: transparent;
		color: $dark-gray;

		th {
			padding: 12px 4px;
			&.short-short-number {
				width: 1%;
			}
	
			&.short-number {
				width: 2%;
			}
	
			&.number {
				width: 5%;
			}
	
			&.short-title {
				width: 10%;
			}
	
			&.middle-title {
				width: 15%;
			}
	
			&.title {
				width: 33%;
			}
		}

		& * {
			color: $dark-gray;
		}

		&:nth-child(even) {
			background: $gray;
			border: darken($dark-gray, 15%);
			padding: 18px 4px;
		}

	}

	tbody tr td {
		padding: 12px 4px;
		line-height: 1.1;
		position: relative;
		border: 1px solid darken($gray, 10%);
		img {
			position: absolute;
			height: auto;
			mix-blend-mode: multiply;
		}

		&.title {
			background: $gray;
			width: 40%;
		}

		&.darken-bg {
			background: $gray;
		}
	}
}

.report-company-info {
	text-align: center;
	flex-grow: 1;
	h2 {
		margin: 8px 0;
	}
	p {
		line-height: 1.2;
		margin: 6px 0;
	}
}