@media only print {

	body {
		display: block;
		background: white;
	}

	h1, h2, h3, p {
		color: black;
		margin: 0.125in 0;
	}

	h2.course {
		font-size: 12pt;
		margin: 0.25in 0;
		line-height: 1.1;
	}

	h3 {
		font-size: 12pt;
		padding: 0;
	}

	p, ul, ol {
		font-size: 10pt;
		line-height: 1.2;
		margin: .125in 0;
	}

	p.attended {
		font-size: 9pt;
		line-height: 1;
		margin: .125in 0;
	}

	.no-print {
		display: none;
	}

	header {
		display: none;
	}

	.logged-in .main {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.buttons {
		display: none;
	}

	.main-content {
		display: block;

		margin: 0;
		padding: 0.25in;
		width: 100%;

		box-shadow: none;
	}

	.edit-certificate-form {
		display: none;
	}

	thead { 
		display: table-header-group; 
	}

	table {
		page-break-inside:auto;

		
		tr    { 
			page-break-inside:avoid; 
			page-break-after:auto;
		}
	}

	.certify.certify {
		margin-top: 0.65in;
		margin-bottom: 0;
	}

	.participant-name.participant-name {
		font-size: 42pt;
		margin: 0.125in 0;
	}

	.certificate {
		padding: 0 0.33in;
	}

	.signature.signature {
		font-size: 9pt;
		margin-top: 0.25in;
		margin-bottom: 0in;
	}

	.short.short {
		margin-top: 0;
	}

	.undies.undies {
		font-size: 9pt;
	}

	.spacey.spacey {
		margin-right: 0.125in;
	}

	.certificate-codes.certificate-codes {
		p {
			font-size: 9pt;
			font-weight: normal;
			font-style: normal;
		}
	}

	table.test-header {
		page-break-before: always;
	}

	hr.separator {
		display: none;
	}

	.the-test {
		display: block;

		table {
			color: black;

			thead th {
				font-size: 10pt;
				font-weight: bold;
			}

			td {
				color: black;
				font-size: 9pt;

				h2 { font-size: 12pt; }
				p { font-size: 9pt; }
				ul { font-size: 9pt; }

				&.pass-fail { font-size: 11pt; }
			}
		}

		ul li { color: black; }

		.signature {
			margin-top: 1in;
		}
	}

	ul.answers {
		height: 1.8in;
		li { 
			color: black;
			font-size: 9pt;

			&.test-score-result { padding-right: 40px; }

			span.answer {
				float: right;
				padding-right: 40px;
			
			}
		}
	}

	ol.general-equipment {
		
		li {
			color: black;
			font-size: 9pt;

		}
	}

}