@media only print and (color){

	* {
		-webkit-print-color-adjust: exact;
	}

	body {
		display: block;
		background: white;
	}

	h1, h2, h3, p {
		color: black;
		margin: 0.125in 0;
	}

	.not-for-print.not-for-print.not-for-print.not-for-print.not-for-print {
		display: none;
	}

	.main-content {
		display: block;
		background-image: none;
		margin: 0 auto;
		width: 8.5in;
		height: 11in;
		box-shadow: none;
	}

  .single-certificates.single-certificates.single-certificates .main-content.main-content.main-content {
    // background-image: url('../images/pmts-letterhead-membrete.png');
    background-repeat: no-repeat;
    background-size: 8.5in 11in;
  }

	h2.course {
		font-size: 17pt;
		margin: 0.25in 0;
		line-height: 1.1;
	}

	h3 {
		font-size: 12pt;
		padding: 0;
	}

	p, ul, ol {
		font-size: 10pt;
		line-height: 1.5;
		margin: .125in 0;
	}

	.office-location.office-location {
		width: 3in;
		h3 {
			font-size: 10pt;
			line-height: 1.1;
		}
	}

	p.attended {

		line-height: 1;
		margin: .133in 0;
	}

	.bank-info {
		margin: 0 0.5in 0 0;

		p {
			font-size: 8pt;
			line-height: 1.1;
			margin: .100in 0;
		}
	}

	.no-print {
		display: none;
	}

	.logged-in header {
		display: none;
	}

	.logged-in .main {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.buttons {
		display: none;
	}

	.edit-certificate-form {
		display: none;
	}

	table {
		color: black;
		position: relative;
		
		thead { 
			display: table-header-group;
			
			th {
				font-size: 8pt;
				text-transform: uppercase;
				padding: 0.1in;
			}
		}

		tr    { 
			-webkit-region-break-inside: avoid;
		}

		td {
			color: black;
			font-size: 8pt;
			padding: 0.055in;

			h2 { font-size: 12pt; }
			p { font-size: 10pt; }
			ul { font-size: 10pt; }

			&.pass-fail { font-size: 11pt; }
		}
	}

	h3.certify.certify {
		// margin-top: 2in;
		// margin-top: 1in;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 24pt;
	}

	.participant-name.participant-name {
		font-size: 42pt;
		word-break: keep-all;
		white-space: nowrap;
		margin: 0.175in 0;

		span.stars {
			font-size: 28pt;
		}
	}

	.certificate {
		padding: 0 0.5in;
		width: 8in;
		height: 9.2in;
		margin: 0 auto;
		position: relative;

		p {
			margin: 0.05in 0;
		}
	}

	.short.short {
		margin: 0 0 0.225in;
	}

	.undies.undies {
		font-size: 10pt;
		padding: 0  0.05in;
		margin-left: 0.05in;

		&.bottom {
			width: 1.65in;
			margin-left: 0.05in;

		}
	}

	.spacey.spacey {
		margin-right: 0.100in;
	}

	.qr-code.qr-code.qr-code {
		display: block;
		width: 1.75in;

		p {
			font-family: $certificate-name;
			font-size: 8pt;
			line-height: 1.2;
		}

		canvas {
			width: 1in;
			height: 1in;
		}
	}

	.signature.signature {
		background: {
			image: url('../images/firma-agustin-gonzalez66.svg');
			repeat: no-repeat;
		}
		padding-top: 36px;
		display: block;
		font-size: 9pt;
		width: 2.25in;
		margin-bottom: 0.05in;

		p.short-margin {
			font-family: $certificate-name;
			font-size: 8pt;
			line-height: 1.2;
			margin: 0;
		}
	}

	.signature-cert-codes {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding-left: 0.5in;
		padding-right: 0.5in;

		.pmts-blue-seal {
			background: {
				image: url('../images/pmts-blue-seal.png');
				repeat: no-repeat;
				size: cover;
				position: center;
			}
			width: 1in;
			height: 1in;
			position: relative;
			right: -1in;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
	}

	.certificate-codes.certificate-codes {
		display: block;
		
		p { 
			font-family: 'britannic-bold';
			margin: 0;
			font-size: 8pt;
			line-height: 1;
			font-weight: normal;
			font-style: normal;
		}
	}

	table.test-header {
		page-break-before: always;
	}

	hr.separator {
		display: none;
	}

	.the-test {
		display: block;

		ul li { color: black; }

		.signature {
			margin-top: 0;
		}
	}

	ul.answers {
		height: 1.8in;

		li {
			color: black;
			font-size: 10pt;

			&.test-score-result { padding-right: 40px; }

			span.answer {
				float: right;
				padding-right: 40px;
			}
		}
	}

	ol.general-equipment {
		
		li {
			color: black;
			font-size: 10pt;

		}
	}

	.quotation {
		width: 8in;
		height: 10in;
		margin: 0 auto;

		p {
			font-size: 8pt;
		}

		.quotation-logo {

			h4 {
				font-size: 10pt;
				margin: 0 0 0.1in 0;
			}

			.logo {
				width: 1.25in;
			}

			.company-info {
				width: 3in;

				p {
					font-size: 8pt;
					line-height: 1;
				}
			}

			.bank-info {
				p {
					font-size: 8pt;
					line-height: 1;
				}

				h4 {
					margin-top: 0;
				}
			}

		}

		table.quote-info-table {
			td {
				padding: 0.05in 0.1in;
			}
		}
	}
	
	.report {
		height: 100%;

		h1 {
			font-size: 14pt;
		}

		p {
			font-size: 9pt;
		}

		span.undies {
			font-size: 9pt;
			min-width: 1.5in;
		}

		table {
			th {
				font-size: 9pt;
			}
			td {
				font-size: 9pt;
			}
		}

		position: relative;
	}

	.report.report.report {
		h1, h2 {
			color: white;
		}
		h1 {
			font-size: 13pt;
		}
		h2 {
			font-size: 12pt;
		}
		h3 {
			font-size: 14pt;
			color: $amp-blue;
		}

		h4 {
			font-size: 11pt;
		}

		p.shorter {
			color: black;
			font-size: 10pt;
		}

		.report-undies {
			padding-left: 0.125in;
		}

		span.undies {
			min-width: 0.5in;
			padding: 0 0.25in;
			color: black;
		}
	}

	.application-for-print {
		display: block;

		.application-page {
			
			width: 8in;
			height: 11in;
			overflow: hidden;

			&.span-2-pages {
				height: auto;
			}

			&.span-3-pages {
				height: auto;
			}

			&.gmdss-evaluation {
				height: 13.5in;
			}

			margin: 0 auto;

			page-break-before: always;
			
			h1 {
				font-size: 16pt;
			}

			h3 {
				font-size: 12pt;
			}

			h4 {
				font-size: 10pt;
			}

			h1, h2, h3, h4 {
				color: black;
			}

			ul li {
				font-size: 9pt;
			}

			.pmts-header {
				min-height: 1.55in;
			}

			.exam-answers {
				
				ol {
					margin-bottom: 0.225in;
					font-size: 10pt;
					
					li {
						margin: 0 0 0.125in;;
					}
				}

			}

			.application-signatures {
				padding: 0 0.5in;
			}

			.name-of-course {

				width: 4.75in;


				h3 {
					font-size: 11pt;

					&.course-full-name {
						line-height: 1.4;
					}
				}
			}
		}
	}
}