ul.fill-courses-dropdown {
	list-style: none;
	display: inline-block;
	position: relative;

	li {
		padding: 8px 12px;
		color: white;
		background: $pmts-blue;
		cursor: pointer;

		ul {
			list-style: none;
			white-space: nowrap; 
			position: absolute;
			top: 100%; left: 0;
			visibility: hidden;
			opacity: 0;
			@extend %smooth-animation;

			li { padding: 0; }

			li a {
				display: block;
				color: white;
				padding: 8px 12px;

				&:hover {
					background: darken($pmts-blue, 10%);
				}
			}
		}

		&:hover ul {
			visibility: visible;
			opacity: 1;
		}
	}
}

.quotation-logo-table {
	
	@extend %flexbox-box;
	justify-content: space-between;

	h4.quote-number {
		display: inline-block;
		float: right;
		margin: 0;
		color: $logout-red;
	}

	.logo {
		width: 140px;
		margin: 0 40px 32px 0;
		float: left;
	}

	.company-info {
		width: 600px;
		float: left;
		font-size: 0.8rem;

		h4 {
			font-size: 1.4rem;
			margin: 4px 0;
		}

		p {
			margin: 4px 0;
			line-height: 1.2;
		}
	}
}

table.quote-info-table {

	thead > tr {
		background: lighten($gray, 15%);
	}

	tr {
		background: white;
		font-size: 0.8rem;

		th {
			color: $darken-gray;
			border: 1px solid $gray;
		}

		td {
			border: 1px solid $gray;
		}
	}
}

table.participant-info, table.referer-info {
	width: 45%;
}

table.participant-info {
	float: left;
}

table.referer-info {
	float: right;
}

.edit-quote-button {
	@extend .edit-button;
}

.edit-quote-form {
	display: none;
}