.report {
	@extend .certificate;
	font-family: $report-font-family;

	.amp-logo-text {
		@extend %flexbox-box;
		justify-content: space-between;
		align-items: center;
	}

	.amp-logo {
		width: 75px;

		img { width: 100%; }
	}

	.amp-text {
		flex-grow: 1;
		color: $amp-blue;

		h3, h4 {
			text-align: center;
			font-family: $report-font-family;
			font-variant: small-caps;
			line-height: 1;
			margin: 4px 0;

			span.smaller {
				font-size: 0.9em;
			}
		}

		h3 {
			font-size: 1.8em;
		}

		h4 {
			font-size: 1.4em;
		}
	}

	.report-title-subtitle {
		text-align: center;
		padding: 0.5em 0;
		margin: 0.5em 0 1.5em;
		background-color: darken($amp-blue, 15%);
		text-transform: uppercase;
		color: white;

		h1 { 
			font-family: $report-font-family;
			font-size: 1.4em;
			margin: 4px 0;
			line-height: 1;
		}

		h2 {
			font-family: $report-font-family;
			font-size: 1.2em;
			font-style: italic;
			margin: 4px 0;
			line-height: 1;
		}
		
	}


	p { 
		font-family: $report-font-family;
	}

	p.shorter {
		margin: 0;
	}

	p.translation-text {
		font-size: 0.9;
		font-style: italic;
		line-height: 0.9;
	}

	.report-full {
		margin-bottom: 2em;

		@extend %flexbox-box;
		justify-content: flex-start;
	}

	.report-undies {
		flex-grow: 1;
		padding-left: 20px;
	}

	.half {
		width: 50%;
	}

	span.undies { 
		font-family: $report-font-family;
		margin: 0;
		font-weight: bold;
	}


	table {

		th {
			text-transform: none;
			background-color: $amp-blue;
			font-size: 1.2em;			
		}

		td {
			font-size: 1.1em;
		}

	}
}

.edit-report-form {
	display: none;
}