table.system {
	font-size: 0.9rem;
	width: 100%;
	margin-bottom: 32px;
	border-collapse: separate;

	thead {
		display: table-header-group;
	}

	thead > tr {
		background-color: $pmts-blue;
	}

	th {
		font-weight: normal;
		color: white;
		text-align: center;
		padding: 8px 12px;
		border: 1px solid white;

		&.short-short-number {
			width: 1%;
		}

		&.short-number {
			width: 2%;
		}

		&.number {
			width: 5%;
		}

		&.short-title {
			width: 10%;
		}

		&.middle-title {
			width: 15%;
		}

		&.title {
			width: 33%;
		}

		&.sort {
			cursor: pointer;
		}
	}

	tr {
		position: relative;
		background: white;

		&:nth-child(even) {
			background: lighten($gray, 15%);
		}

		&.full-class > td {
			color: $logout-red;
			text-decoration: line-through;
		}
	}
	
	tbody > tr:hover {
		background: lighten($gray, 10%);
	}

	td {
		border: 1px solid lighten($pmts-blue, 35%);
		padding: 8px;
		
		&.centered {
			text-align: center;
		}

		&.align-right {
			text-align: right;
		}

		i.fa.fa {
			font-size: 1.4em;
		}

		i.fa-check-circle, i.fa-times-circle {
			padding: 8px 22px;
			/* color: white; */
		}

		&.paid, &.edit {
			padding: 0;
		}

		&.yes {
			color: lighten($cool-green, 6%);
		}

		&.no {
			color: saturate($logout-red, 15%);
		}

		&.total {
			font-weight: bold;
			text-align: right;
		}

		&.government-fee {
			border-bottom: 2px solid $darken-gray
		}

		&.total-price {
			border-bottom: 3px solid $darken-gray;
			font-weight: bold;
		}

		&.nightly {
			background: $amp-blue;
			color: white;
		}

		&.full-class {
			color: $logout-red;
			text-decoration: line-through;
		}

		&.daily {
			background: saturate($cool-yellow, 15%);
			color: $amp-blue;
		}

		&.printly {
			a {
				display: block;
				color: $amp-blue;
				font-size: 0.9em;
			}
			
			.warningly {
				color: $logout-red;
				margin: 0;
			}

			.lockedly {
				color: darken($cool-orange, 5%);
				margin: 0;
			}
		}



		& > span.print-pending {
				background-color: lighten($logout-red, 8%);
				color: white;
		}

		& > span.print-pending-yellow {
			background-color: saturate($cool-yellow, 15%);
		}
		
		& > span.print-pending-orange {
			background-color: lighten($cool-orange, 10%);
			color: white;
		}

		a {
			color: darken($pmts-blue, 15%);
			text-decoration: none;
			display: block;

			&:hover {
				color: darken($pmts-blue, 20%);
			}
		}

		&.edit {
			i.fa.fa { 
				color: darken($cool-orange, 10%);
			}
		}

		a.edit-form {
			width: 100%; height: 100%;
			padding: 8px 18px;
			color: white;
		}

		a.delete-form {
			color: $logout-red;
		}
	}

	tfoot {
		border-top: 2px solid $darken-gray;
		display: table-row-group;
	}
}

p.warning-full.warning-full.warning-full {
	width: 100%;
	padding: 4px 8px;
	margin: 0;
	color: $logout-red;

	i.fa {
		font-size: 1.3rem;
	}
}

.paginate {
	a {
		color: white;
		text-decoration: none;
		margin-right: 20px;
		background: darken($cool-green, 10%);
		padding: 2px 18px;
	}
}