table {
	font-size: 0.9rem;
	width: 100%;
	margin-bottom: 32px;

	thead > tr {
		background-color: $pmts-blue;
	}

	th {
		font-weight: normal;
		color: white;
		text-align: center;
		padding: 12px 0;
		border: 1px solid white;

		&.short-number {
			width: 5%;
		}

		&.number {
			width: 7%;
		}

		&.short-title {
			width: 12%;
		}

		&.middle-title {
			width: 20%;
		}

		&.title {
			width: 40%;
		}
	}

	tr {
		background: white;

		&:nth-child(even) {
			background: lighten($gray, 15%);
		}
	}
	
	tbody > tr:hover {
		background: lighten($gray, 10%);
	}

	td {
		border: 1px solid darken($gray, 15%);
		padding: 8px;
		
		&.centered {
			text-align: center;
		}

		&.align-right {
			text-align: right;
		}

		i.fa.fa {
			font-size: 1.4em;
		}

		i.fa-check-circle, i.fa-times-circle {
			padding: 8px 22px;
			/* color: white; */
		}

		&.paid, &.edit {
			padding: 0;
		}

		&.yes {
			color: lighten($cool-green, 6%);
		}

		&.no {
			color: saturate($logout-red, 15%);
		}

		&.total {
			font-weight: bold;
			text-align: right;
		}

		&.quote-footer {
			border-top: 2px solid $darken-gray;
		}

		&.total-price {
			border-bottom: 2px solid $darken-gray;
			font-weight: bold;
		}


		a {
			color: darken($pmts-blue, 15%);
			text-decoration: none;
			display: block;

			&:hover {
				color: darken($pmts-blue, 20%);
			}
		}

		&.edit {
			i.fa.fa { 
				color: darken($cool-orange, 10%);
			}
		}

		a.edit-form {
			width: 100%; height: 100%;
			padding: 8px 18px;
			color: white;
		}
	}
}

.paginate {
	a {
		color: white;
		text-decoration: none;
		margin-right: 20px;
		background: darken($cool-green, 10%);
		padding: 2px 18px;
	}
}